<%- include("header.ejs") %>
<head>
    <style>
        .background {
            background-color: #f3f0fc;
        }
    </style>
</head>

<body>

    <!-- Gradient -->
    <div class="bg-gradient-to-b from-[#f3f0fc] from-0% to-white to-100% md:h-16 h-12"></div>
    <!-- Gradient End -->
    <div class="block">
        <div>
            <h1 class="text-center md:text-5xl text-3xl lg:px-96 md:px-40 px-12 font-bold relative">
                Empowering education with advanced infrastructure.
            </h1>
        </div>
        <div>
            <img src="/icons/line2.svg" class="mx-auto lg:w-2/6 md:w-3/6 w-8/12 -mt-2 " alt="" />
        </div>
    </div>
    <div class="md:flex p-4 block my-12">
        <div class="mx-auto my-auto md:w-1/2 max-w-lg md:hidden relative">
            <img src="/icons/dotedlines.svg" class="mx-auto my-auto px-14 absolute inset-0 w-full h-96"
                alt="" />
            <img src="/icons/home-blocks-02.jpg" alt="Second Image" class="relative z-10" />
        </div>

        <div class="block mx-auto my-auto md:w-1/2 z-40 p-8 pb-0">
            <div
                class="bg-[#D2C6FA] rounded-3xl w-fit my-4 p-2 text-center text-[#4F49A5] font-semibold rotate-[-1deg]">
                What is Smart Class ?
            </div>
            <div class="font-extrabold md:text-6xl text-4xl">
                EDUCOMP’S SMARTCLASS
            </div>
            <div class="font-medium leading-8 py-4">
                Educomp’s smart class is a technology oriented initiative for schools. It provides tools and content for
                interactive self paced learning by students, as well as rich-media presentation for teacher-led
                classroom learning. The content available consists of pedagogically sound and visually rich curriculum
                resources mapped and customized as per the school’s Scheme of Work. This content can be streamed into
                the classroom and shown by teachers in the classroom to make abstract concepts real.
            </div>
        </div>

        <div class="mx-auto my-auto md:w-1/2 max-w-lg md:relative hidden md:block">
            <img src="/icons/dots.svg" alt="" class="w-48 top-16 relative z-40" />
            <img src="/icons/circle.svg" alt="" class="absolute inset-0 w-full h-full mt-20" />
            <img src="/icons/home-blocks-02.jpg"
                class="mx-auto my-auto relative z-10 w-96 h-96 rounded-3xl" alt="" />
        </div>
    </div>
    <div class="md:flex p-4 block my-12">
        <div class="mx-auto my-auto md:w-1/2 max-w-lg md:hidden relative">
            <img src="/icons/dotedlines.svg" class="mx-auto my-auto px-14 absolute inset-0 w-full h-96"
                alt="" />
            <img src="/icons/home-blocks-02.jpg" alt="Second Image" class="relative z-10" />
        </div>

        <div class="mx-auto my-auto md:w-1/2 max-w-lg md:relative hidden md:block">
            <img src="/icons/dots.svg" alt="" class="w-48 top-16 relative z-40" />
            <img src="/icons/circle.svg" alt="" class="absolute inset-0 w-full h-full mt-20" />
            <img src="/icons/home-blocks-02.jpg"
                class="mx-auto my-auto relative z-10 w-96 h-96 rounded-3xl" alt="" />
        </div>
        <div class="block mx-auto my-auto md:w-1/2 z-50 p-8 pb-0">
            <div
                class="bg-[#D2C6FA] rounded-3xl w-fit my-4 p-2 text-center text-[#4F49A5] font-semibold rotate-[-1deg]">
                What is Computer ?
            </div>
            <div class="font-extrabold md:text-6xl text-4xl">
                COMPUTER EDUCATION
            </div>
            <div class="font-medium leading-8 py-4">
                Computer Education is imparted to students from Class 1 onwards. The computer curriculum is
                activity-based and is organized in such a way that the child gains familiarity with software, computer
                languages, hardware basics, internet usage, and digital literacy skills. Practical sessions include
                hands-on coding exercises, troubleshooting techniques, and project-based learning to encourage
                creativity and problem-solving abilities. The program also emphasizes ethical considerations in
                technology use and prepares students for the digital demands of the modern world.
            </div>
        </div>
    </div>
    <div class="md:flex p-4 block my-12">
        <div class="mx-auto my-auto md:w-1/2 max-w-lg md:hidden relative">
            <img src="/icons/dotedlines.svg" class="mx-auto my-auto px-14 absolute inset-0 w-full h-96"
                alt="" />
            <img src="/icons/home-blocks-02.jpg" alt="Second Image" class="relative z-10" />
        </div>

        <div class="block mx-auto my-auto z-50 md:w-1/2 p-8 pb-0">
            <div
                class="bg-[#D2C6FA] rounded-3xl w-fit my-4 p-2 text-center text-[#4F49A5] font-semibold rotate-[-1deg]">
                What is Science Lab ?
            </div>
            <div class="font-extrabold md:text-6xl text-4xl">
                SCIENCE LAB
            </div>
            <div class="font-medium leading-8 py-4">
                Practical knowledge always lasts for long. Class III-XII students benefit from hands-on learning through
                experiments that deepen their understanding of concepts. The curriculum integrates practical
                applications across subjects, fostering critical thinking and analytical skills. These experiences
                prepare students for real-world challenges and encourage a lifelong passion for learning and
                exploration.
            </div>
        </div>

        <div class="mx-auto my-auto md:w-1/2 max-w-lg md:relative hidden md:block">
            <img src="/icons/dots.svg" alt="" class="w-48 top-16 relative z-40" />
            <img src="/icons/circle.svg" alt="" class="absolute inset-0 w-full h-full mt-20" />
            <img src="/icons/home-blocks-02.jpg"
                class="mx-auto my-auto relative z-10 w-96 h-96 rounded-3xl" alt="" />
        </div>
    </div>
    <div class="md:flex p-4 block my-12">
        <div class="mx-auto my-auto md:w-1/2 max-w-lg md:hidden relative">
            <img src="/icons/dotedlines.svg" class="mx-auto my-auto px-14 absolute inset-0 w-full h-96"
                alt="" />
            <img src="/icons/home-blocks-02.jpg" alt="Second Image" class="relative z-10" />
        </div>

        <div class="mx-auto my-auto md:w-1/2 max-w-lg md:relative hidden md:block">
            <img src="/icons/dots.svg" alt="" class="w-48 top-16 relative z-40" />
            <img src="/icons/circle.svg" alt="" class="absolute inset-0 w-full h-full mt-20" />
            <img src="/icons/home-blocks-02.jpg"
                class="mx-auto my-auto relative z-10 w-96 h-96 rounded-3xl" alt="" />
        </div>
        <div class="block mx-auto my-auto z-50 md:w-1/2 p-8 pb-0">
            <div
                class="bg-[#D2C6FA] rounded-3xl w-fit my-4 p-2 text-center text-[#4F49A5] font-semibold rotate-[-1deg]">
                What is Mathematics Lab ?
            </div>
            <div class="font-extrabold md:text-6xl text-4xl">
                MATHS LAB
            </div>
            <div class="font-medium leading-8 py-4">
                <p>DWS Majra in its thriving for excellence has introduced a unique feature in its arena. The
                    Mathematics Laboratory for classes III-XII. The study of Mathematics would be made more interesting in
                    practice by giving it a practical approach. The subject theoretically imparts knowledge but its
                    practical application not only removes the phobia generally developed among the pupil for the
                    subject, but confirms and adds clarity of concepts to the child.</p>
                <p>This Mathematics laboratory will provide our students the adequate base to understand the basic
                    concepts as well as to tackle the engineering application.</p>
                <p class="font-bold">This will make the subject less ‘dry’ and more filled with ‘fun’ and ‘frolic’.</p>
            </div>
        </div>
    </div>

    <div class="md:flex p-4 block my-12">
        <div class="mx-auto my-auto md:w-1/2 max-w-lg md:hidden relative">
            <img src="/icons/dotedlines.svg" class="mx-auto my-auto px-14 absolute inset-0 w-full h-96"
                alt="" />
            <img src="/icons/home-blocks-02.jpg" alt="Second Image" class="relative z-10" />
        </div>

        <div class="block mx-auto my-auto z-50 md:w-1/2 p-8 pb-0">
            <div
                class="bg-[#D2C6FA] rounded-3xl w-fit my-4 p-2 text-center text-[#4F49A5] font-semibold rotate-[-1deg]">
                What is Yoga ?
            </div>
            <div class="font-extrabold md:text-6xl text-4xl">
                YOGA & MEDITATION PROGRAMME
            </div>
            <div class="font-medium leading-8 py-4">
                The school provides coaching in Yoga and Meditation from well-trained and experienced staff. Students
                learn mindfulness techniques, breathing exercises, and relaxation methods to promote physical health and
                emotional well-being. The program encourages self-awareness, stress management skills, and a holistic
                approach to wellness. Regular sessions cultivate discipline, focus, and inner peace, enhancing overall
                academic and personal development.
            </div>
        </div>

        <div class="mx-auto my-auto md:w-1/2 max-w-lg md:relative hidden md:block">
            <img src="/icons/dots.svg" alt="" class="w-48 top-16 relative z-40" />
            <img src="/icons/circle.svg" alt="" class="absolute inset-0 w-full h-full mt-20" />
            <img src="/icons/home-blocks-02.jpg"
                class="mx-auto my-auto relative z-10 w-96 h-96 rounded-3xl" alt="" />
        </div>
    </div>

    <div class="md:flex p-4 block my-12">
        <div class="mx-auto my-auto  md:w-1/2 max-w-lg md:hidden relative">
            <img src="/icons/dotedlines.svg" class="mx-auto my-auto px-14 absolute inset-0 w-full h-96"
                alt="" />
            <img src="/icons/home-blocks-02.jpg" alt="Second Image" class="relative z-10" />
        </div>

        <div class="mx-auto my-auto md:w-1/2 max-w-lg md:relative hidden md:block">
            <img src="/icons/dots.svg" alt="" class="w-48 top-16 relative z-40" />
            <img src="/icons/circle.svg" alt="" class="absolute inset-0 w-full h-full mt-20" />
            <img src="/icons/home-blocks-02.jpg"
                class="mx-auto my-auto relative z-10 w-96 h-96 rounded-3xl" alt="" />
        </div>
        <div class="block mx-auto z-50 my-auto md:w-1/2 p-8 pb-0">
            <div
                class="bg-[#D2C6FA] rounded-3xl w-fit my-4 p-2 text-center text-[#4F49A5] font-semibold rotate-[-1deg]">
                What is Music & Dance ?
            </div>
            <div class="font-extrabold md:text-6xl text-4xl">
                MUSIC & DANCE
            </div>
            <div class="font-medium leading-8 py-4">
                In order to nurture creative instincts among children, we offer a wide variety of dance forms which
                further enhances students’ confidence. From classical to contemporary styles, our dance program
                encourages self-expression and fosters teamwork. Students learn coordination, rhythm, and stage presence
                while exploring cultural diversity through performance. The experience cultivates a passion for the arts
                and promotes a sense of accomplishment and personal growth.
            </div>
        </div>
    </div>
    <div class="md:flex p-4 block my-12">
        <div class="mx-auto my-auto md:w-1/2 max-w-lg md:hidden relative">
            <img src="/icons/dotedlines.svg" class="mx-auto my-auto px-14 absolute inset-0 w-full h-96"
                alt="" />
            <img src="/icons/home-blocks-02.jpg" alt="Second Image" class="relative z-10" />
        </div>

        <div class="block mx-auto my-auto z-50 md:w-1/2 p-8 pb-0">
            <div
                class="bg-[#D2C6FA] rounded-3xl w-fit my-4 p-2 text-center text-[#4F49A5] font-semibold rotate-[-1deg]">
                What is Library ?
            </div>
            <div class="font-extrabold md:text-6xl text-4xl">
                SCHOOL LIBRARY
            </div>
            <div class="font-medium leading-6 py-4 ">
                <h1 class="text-red-700 text-base font-semibold leading-6 mb-4 ">The School Library is open to all
                    bonafide students of the school. All classes are provided with a library
                    period every week. The students should observe the following rules:
                </h1>
                <ul class="list-disc ml-3">
                    <li>All the students must come to the Library in a single line according to their roll numbers.</li>
                    <li>Students should sit in Library as assigned by the librarian.</li>
                    <li>They must maintain absolute silence in the library.</li>
                    <li>They must return their library books on the returning counter according to their roll numbers.
                    </li>
                    <li>Any child found damaging or defacing a book, will be debarred from the library for the whole
                        Academic Session.</li>
                    <li>Books marked, disfigured, damaged, or lost will have to be replaced or compensated to the
                        library.</li>
                    <li>Students must bring their almanac to the library to keep the record of books read by them.</li>
                    <li>Students are not allowed to bring their personal books or belongings in to the library.</li>
                    <li>More library rules and regulations are pasted in the library.</li>
                </ul>
            </div>
        </div>

        <div class="mx-auto my-auto md:w-1/2 max-w-lg md:relative hidden md:block">
            <img src="/icons/dots.svg" alt="" class="w-48 top-16 relative z-40" />
            <img src="/icons/circle.svg" alt="" class="absolute inset-0 w-full h-full mt-20" />
            <img src="/icons/home-blocks-02.jpg"
                class="mx-auto my-auto relative z-10 w-96 h-96 rounded-3xl" alt="" />
        </div>
    </div>

</body>


<%- include("Footer.ejs") %>