<%- include("../header.ejs") %>

<head>
    <style>
        .background {
            background-color: #f3f0fc;
        }
    </style>
</head>

<body>
    <div class="bg-[#f3f0fc] rounded-b-[100%]">
        <h1 class="text-6xl text-center font-semibold p-8 text-green-800">Effective Interpersonal Skills
        </h1>
        <div class="p-16 pt-8">
            <p class="text-justify mb-4 -ml-3">
                These are the qualities and behaviors a person uses to interact with others properly. In the business
                domain, the term refers to an employee's ability to work well with others while performing their job.
                Interpersonal skills range from communication and listening to attitude and deportment. Strong
                interpersonal skills are a prerequisite for many positions in an organization. Interpersonal skills
                cannot be learned solely from a textbook. They come naturally to some people, while other people have to
                work at cultivating them. In many organizations, employees with strong interpersonal skills are valued
                for their pleasant demeanor and positive, solution-oriented attitude. These employees are team players,
                who work well with others to achieve a goal.
            </p>
            <p class="text-justify mb-4 -ml-3">
                Interpersonal skills relate to the knowledge of social expectations and customs. Individuals with these
                skills consider others' reactions to adjust tactics and communication as needed. Some describe
                interpersonal skills as social intelligence, which relies on paying attention to the actions and speech
                of others and interpreting them correctly as part of forming a response. While these skills are based,
                in part, on an individual's personality and instincts, they also develop with experience and knowledge.
            </p>
        </div>
    </div>
</body>



<%- include("../Footer.ejs") %>