<%- include("../header.ejs") %>

<head>
    <style>
        .background {
            background-color: #f3f0fc;
        }
    </style>
</head>

<body>
    <div class="bg-[#f3f0fc] rounded-b-[100%]">
        <h1 class="text-6xl text-center font-semibold p-8 text-green-800">Intellectual Growth</h1>
        <div class="p-16 pt-8">
            <p class="text-justify mb-4 -ml-3">
                Intellectual development refers here to the changes that occur, as a result of growth and experience, in
                a person's capacities for thinking, reasoning, relating, judging, conceptualizing, etc. In particular it
                concerns such changes in children.
                Some simple steps to increase your intellectual wellness.
            <ul class="list-disc">
                <li>Read for fun.</li>
                <li>Debate an issue with a friend, but choose the viewpoint opposite the one you hold.</li>
                <li>Improve your skills for studying and learning.</li>
                <li>Learn a foreign language.</li>
                <li>Play a game.</li>
                <li>Play a musical instrument.</li>
            </ul>
            </p>
        </div>
    </div>
</body>



<%- include("../Footer.ejs") %>