<%- include("../header.ejs") %>

<head>
    <style>
        .background {
            background-color: #f3f0fc;
        }
    </style>
</head>

<body>
    <div class="bg-[#f3f0fc] rounded-b-[100%]">
        <h1 class="text-6xl text-center font-semibold p-8 text-green-800">Social Responsibility</h1>
        <div class="p-16 pt-8">
            <p class="text-justify mb-4 -ml-3">
                Social responsibility is an ethical framework and suggests that an entity, be it an organization or
                individual, has an obligation to act for the benefit of society at large. Social responsibility is a
                duty every individual has to perform so as to maintain a balance between the economy and the ecosystems.
                Student responsibility occurs when students take an active role in their learning by recognizing they
                are accountable for their academic success. Student responsibility is demonstrated when students make
                choices and take actions which lead them toward their educational goals.
                Responsible students take ownership of their actions by exhibiting the following behaviors. They:
            <ul class="list-disc">
                <li>Demonstrate academic integrity and honesty.</li>
                <li>Attend and participate in classes, labs, and seminars, prepared and on time.</li>
                <li>Complete the assigned work in a timely manner with attention to quality of work.</li>
                <li>Avoid making excuses for their behavior.</li>
                <li>Communicate in a careful and respectful manner with professors, peers, and other members</li>
            </ul>
            </p>
        </div>
    </div>
</body>



<%- include("../Footer.ejs") %>