<%- include("header.ejs") %>

    <head>
        <style>
            @media (max-width: 768px) {
                .mdshadow-sm-edge {
                    box-shadow: inset 0 0 20px 30px white;
                }
            }

            @media (min-width: 769px) {
                .mdshadow-md-edge {
                    box-shadow: inset 0 0 40px 50px white;
                }
            }
        </style>
    </head>

    <body class="bg-[#f3f0fc]">
        <div class="md:flex">
            <div class="md:w-2/4 mx-auto my-auto">
                <h1 class="text-center font-bold text-6xl">Join <br><span class="uppercase text-red-500">divine wisdom
                        school </span> <br><span>
                        today !</span></h1>

            </div>
            <% if (homeimgData && homeimgData.length> 0) { %>
                <div class="md:w-2/4 h-96 flex items-center bg-cover mx-auto bg-no-repeat bg-center mdshadow-sm-edge mdshadow-md-edge"
                    style="background-image: url('<%= homeimgData[0].image_url %>')">

                </div>
                <% } else { %>
                    No image
                    <% } %>
        </div>

        <div class="p-10 bg-[#4F49A5] text-white mb-6 rounded-2xl m-4">
            <h6 class="text-5xl font-medium ">Procedure - </h6>
            <ul class="list-disc py-4">
                <li class="ml-4 text-xl">Admission is open to all boys and girls, irrespective of caste, creed or social
                    status,
                    who have
                    attained the age of 3+ years.
                </li>
                <li class="ml-4 text-xl">Admission to classes K.G. to IX for the new comers is subject to the
                    availability
                    of seats.
                </li>
                <li class="ml-4 text-xl">A documentary proof of the Date of Birth must be attached with the admission
                    form.
                </li>
                <li class="ml-4 text-xl">For withdrawing a child, parents should give one month's notice, failing which
                    they
                    will have to pay one month's fee.</li>
                <li class="ml-4 text-xl">To view fee structure click on <a href="/fees.pdf"
                        class="underline hover:text-red-700">view</a></li>
            </ul>
        </div>


        <div class="md:flex my-4 relative">
            <div class="md:w-1/3 lg:flex hidden">
                <img src="/icons/adm2.svg" class="h-72 mx-auto" alt="">
            </div>
            <div class="md:hidden">
                <img src="/icons/adm1.svg" class="h-72 mx-auto" alt="">
            </div>
            <div class="my-auto mx-auto md:w-1/3">
                <a href="https://sikhlo.com/divine/onlineregistration">
                    <div
                        class="bg-[#F6C663] font-medium hover:bg-[#F9BC3E] flex rounded-full text-center md:text-6xl text-3xl my-6 px-10 md:py-6 py-3 md:my-4 md:w-fit w-fit mx-auto animation-arrow ">
                        <div class="text-center">Register Now</div>
                        <div class="my-auto relative z-10">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"
                                fill="none" class="hidden md:flex my-auto mt-1" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="my-auto mx-auto">
                                <path d="M5 12l14 0"></path>
                                <path d="M15 16l4 -4"></path>
                                <path d="M15 8l4 4"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                fill="none" class="md:hidden my-auto mt-1" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="my-auto mx-auto">
                                <path d="M5 12l14 0"></path>
                                <path d="M15 16l4 -4"></path>
                                <path d="M15 8l4 4"></path>
                            </svg>
                        </div>
                    </div>
                </a>
            </div>
            <div class="md:hidden">
                <img src="/icons/adm2.svg" class="h-72 mx-auto" alt="">
            </div>
            <div class="md:w-1/3 lg:flex hidden relative z-0">
                <img src="/icons/adm1.svg" class="h-72 mx-auto" alt="">
            </div>
        </div>


        <div class="font-extrabold md:text-6xl text-4xl md:mx-0 mx-auto text-center">
            For Registration <span class="text-blue-800">Divine Toddlers</span>
        </div>
        <a href="https://sikhlo.com/dtdler/onlineregistration">
            <div
                class="bg-[#F6C663] font-medium hover:bg-[#F9BC3E] flex rounded-full text-center md:text-6xl text-3xl my-6 px-10 md:py-6 py-3 md:my-4 md:w-fit w-fit mx-auto animation-arrow ">
                <div class="text-center">Register Now</div>
                <div class="my-auto relative z-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"
                        fill="none" class="hidden md:flex my-auto mt-1" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="my-auto mx-auto">
                        <path d="M5 12l14 0"></path>
                        <path d="M15 16l4 -4"></path>
                        <path d="M15 8l4 4"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                        fill="none" class="md:hidden my-auto mt-1" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="my-auto mx-auto">
                        <path d="M5 12l14 0"></path>
                        <path d="M15 16l4 -4"></path>
                        <path d="M15 8l4 4"></path>
                    </svg>
                </div>
            </div>
        </a>


    </body>
    <%- include("Footer.ejs") %>