<%- include("header.ejs") %>

    <head>
        <style>
            .background {
                background-color: #f3f0fc;
            }
        </style>
    </head>

    <body>
        <div class="bg-[#f3f0fc]">
            <div
                class="bg-[#D2C6FA] rounded-3xl w-fit mb-4 p-2 text-center text-[#201042] font-semibold rotate-[-1deg] mx-auto">
                Welcome to Divine
                Wisdom School
            </div>
            <div class="block">
                <div>
                    <h1 class="text-center md:text-6xl text-3xl lg:px-96 md:px-40 px-14 font-bold relative">
                        A place for every child to learn and grow
                    </h1>
                </div>
                <div>
                    <img src="/icons/line2.svg" class="mx-auto lg:w-2/6 md:w-3/6 w-8/12 -mt-2 " alt="" />
                </div>
            </div>
            <div class="text-center xl:px-96 lg:px-60 md:px-44 px-8 text-xl leading-9 mt-2">
                At Divine Wisdom School, we offer a variety of enriching clubs to foster the diverse talents and
                interests of our students. Each club is designed to help children explore new passions, develop skills,
                and grow in a supportive, collaborative environment. From creative writing to environmental initiatives,
                there is something for everyone.
            </div>
            <div class="p-10 pt-0 mt-4">
                <div class="mapouter mx-auto">
                    <div class="gmap_canvas rounded-3xl bg-white">
                        <img src="https://res.cloudinary.com/dzimskwuu/image/upload/v1735798611/IMG_5947_phdqam.jpg"
                            class="mx-auto aspect-auto" alt="">

                    </div>
                </div>
            </div>
        </div>
        <!-- Gradient -->
        <div class="bg-gradient-to-b from-[#f3f0fc] from-0% to-white to-100% md:h-36 h-20"></div>
        <!-- Gradient End -->
        <div class="md:flex block">
            <div class="md:w-2/4 text-5xl font-bold p-6 text-center md:text-left mx-auto my-auto">
                Discover the Diverse Clubs at Divine Wisdom School
            </div>
            <div class="md:w-2/4 p-8 px-16 text-2xl text-justify mx-auto my-auto">
                At Divine Wisdom School, we believe in providing students with a well-rounded educational experience
                that extends beyond the classroom. Our vibrant range of school clubs allows students to explore their
                passions, develop new skills, and engage with peers who share similar interests. Whether it's honing
                language skills, diving into scientific discovery, or embracing creativity, each club offers a unique
                opportunity for growth and fun.
                <br>
                <span class="font-semibold text-blue-950">Explore our clubs and find the perfect one for you to join today!</span>
            </div>
        </div>

        <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4 p-2 justify-center">
            <div class="mx-auto bg-[#FEF0D2] p-8 w-full h-full flex flex-col items-center justify-center rounded-2xl">
                <h1 class="text-2xl font-semibold text-center">ENGLISH READING</h1>
                <p class="my-4 text-center">There are different ways of organizing this but the aim is for children to
                    enjoy
                    reading in English and
                    learning English while they go along. The English Reading Club is underpinned by some basic
                    activities
                    which can be expanded on and adapted to suit the needs of the children in the reading club.</p>
            </div>
            <div class="mx-auto bg-[#ECE4FD] p-8 w-full h-full flex flex-col items-center justify-center rounded-2xl">
                <h1 class="text-2xl font-semibold text-center">ENGLISH CONVERSATION</h1>
                <p class="my-4 text-center">This club provides a recreational and consolidating opportunity for students
                    to
                    learn and practice English. It creates an awareness of themselves as individuals with special
                    different
                    talents and capacities. It provides encouraging atmosphere for students to express personal views
                    about
                    whatever they choose and enhance students' learning opportunities. It develop students' personality
                </p>
            </div>
            <div class="mx-auto bg-[#FFEDEE] p-8 w-full h-full flex flex-col items-center justify-center rounded-2xl">
                <h1 class="text-2xl font-semibold text-center">CALLIGRAPHY</h1>
                <p class="my-4 text-center">Want to write short stories, novels, be the next J.K. Rowling? A creative
                    writing club is a good place for you to start. By joining this club, you'll find that your writing
                    skills really improve as you will be able to practice writing constantly and receive helpful
                    feedback
                    from your peers.</p>
            </div>
            <div class="mx-auto bg-[#EBF4FF] p-8 w-full h-full flex flex-col items-center justify-center rounded-2xl">
                <h1 class="text-2xl font-semibold text-center">ECO CLUB</h1>
                <p class="my-4 text-center">If saving Mother Earth is something you're passionate about, consider
                    joining an
                    environment club, where you will get to engage in various projects to help clean up and green up
                    your
                    local community. For example, you may get to plan and engage in water conservation projects,
                    cleaning up
                    beaches, starting a recycling initiative at your school, etc.</p>
            </div>
            <div class="my-auto hidden lg:flex">
                <img src="https://pbs.twimg.com/profile_images/1036555716893372416/Z-mzqSmd_400x400.jpg" alt="">
            </div>
            <div class="mx-auto bg-[#EBF4FF] p-8 w-full h-full flex flex-col items-center justify-center rounded-2xl">
                <h1 class="text-2xl font-semibold text-center">SCIENCE CLUB</h1>
                <p class="my-4 text-center">If you know that you want to go into a science-related field or if science
                    really interests you, consider putting your knowledge into a competition with science Olympiad. As a
                    freshman, you may not have all the science background that you need through your classes, but this
                    club
                    will be a great way for you to pick up
                    some material and get ahead in your science classes. Many science Olympiad teams compete in science
                    Olympiad tournaments on weekends.</p>
            </div>
            <div class="mx-auto bg-[#FEF0D2] p-8 w-full h-full flex flex-col items-center justify-center rounded-2xl">
                <h1 class="text-2xl font-semibold text-center">MATHS CLUB</h1>
                <p class="my-4 text-center">If math, statistics, or numbers in general spark your interest, consider
                    doing
                    it competitively by joining Mathletes. As a freshman, you may not have all the knowledge that you
                    need
                    to be competitive, but the club will be a great way for you to get ahead in your math classes and
                    possibly compete with a team once you're ready.</p>
            </div>
            <div class="my-auto hidden lg:flex">
                <img src="https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/32c6accf-f2e1-4a6d-a2c7-2b1006e3cab3/6d565917-2e27-42f1-b21e-02b098911209.png"
                    alt="">
            </div>
            <div class="mx-auto bg-[#FEF0D2] p-8 w-full h-full flex flex-col items-center justify-center rounded-2xl">
                <h1 class="text-2xl font-semibold text-center">AEROBICS & YOGA</h1>
                <p class="my-4 text-center">Physical activity such as walking, jogging, Indore cycling or aerobic
                    dancing is
                    all example of aerobic exercise that strength the heart and lungs, therefore improving your body
                    utilization of oxygen
                    Yoga's a Hindu spiritual & ascetic discipline apart of which including breath control, simple
                    meditation
                    and the adoption of specific bodily posters is widely practiced for health.</p>
            </div>

            <div class="mx-auto bg-[#ECE4FD] p-8 w-full h-full flex flex-col items-center justify-center rounded-2xl">
                <h1 class="text-2xl font-semibold text-center">ICT CLUB</h1>
                <p class="my-4 text-center">ICT or Information and Communication Technology Club aims to nurture
                    creative
                    and programming skills in students, helping them sharpen their research and presentation skills. The
                    club also aims to promote innovation among its members as they seek out technological solutions to
                    problems that may arise in a school environment. It helps students improve their design capabilities
                    and
                    their skills with communication and information technology. It encourages members to appreciate the
                    role
                    of Information and Communication in today's world. Students are introduced to website building and
                    design among other activities.</p>
            </div>
            <div class="mx-auto bg-[#FFEDEE] p-8 w-full h-full flex flex-col items-center justify-center rounded-2xl">
                <h1 class="text-2xl font-semibold text-center">ART & CRAFT</h1>
                <p class="my-4 text-center">The club provides students with pleasure, enjoyment and deepened awareness
                    of
                    themselves and their place in their environment, community and culture. The students have learned
                    the
                    techniques of Oil Colour Painting, Acrylic Colour Painting, Fabric Painting, Portrait Painting,
                    Texture
                    Painting, Wall Mural Designing, Pen and Ink, Pattern Designing, Glass and Foil Painting, Poster and
                    Logo
                    Designing. The aspirations for the coming year are to master the different techniques, prepare the
                    students for making the decorative art work and paintings for exhibition and make art pieces out of
                    waste products.</p>
            </div>
            <div class="mx-auto bg-[#EBF4FF] p-8 w-full h-full flex flex-col items-center justify-center rounded-2xl">
                <h1 class="text-2xl font-semibold text-center">LITERARY CLUB</h1>
                <p class="my-4 text-center">The Literary Club is a place where students can meet to read and write. The
                    Literary Club has been an ongoing and active club for several years. It is based upon using the
                    creativity skills it takes to be a writer. Club members meet to discuss books and the craft of
                    writing.
                </p>
            </div>

        </div>




    </body>

    <%- include("Footer.ejs") %>