<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DWS - COMMITTED TO EXCELLENCE IN EDUCATION</title>
    <link rel="icon" href="/icons/logo.png" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link href="/css/output.css" rel="stylesheet">
    <link href="/css/style1.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="canonical" href="https://www.divinewisdom.edu.in" />

    <!-- Updated Meta Description -->
    <meta name="description"
        content="DWS is a leading private school in Paonta Sahib, focusing on academic excellence, spiritual growth, and skills development for students. Discover our nurturing environment and holistic approach to education. Contact us today for admissions!">

    <!-- Open Graph Meta Tags (for Facebook and other platforms) -->
    <meta property="og:title" content="DWS - COMMITTED TO EXCELLENCE IN EDUCATION">
    <meta property="og:description"
        content="DWS is a premier school in Paonta Sahib, offering an environment focused on academic excellence, skill development, and spiritual growth. Learn more about our curriculum and admissions process.">
    <meta property="og:image"
        content="https://scontent.fixc1-8.fna.fbcdn.net/v/t39.30808-6/335423691_113245308318791_8986967528729299943_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=hsmgv4EW8UkQ7kNvgHsXxuK&_nc_zt=23&_nc_ht=scontent.fixc1-8.fna&_nc_gid=AX2kpa_WCN_yfVEUxV29LTm&oh=00_AYDgD1xrnnMdJdcRU9_tehXUS-33s6AvcCLEeIH2gWZE1w&oe=677DB5FF">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.divinewisdom.edu.in">
    <meta property="og:locale" content="en_US">

    <!-- Twitter Card Tags (for Twitter) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="DWS - COMMITTED TO EXCELLENCE IN EDUCATION">
    <meta name="twitter:description"
        content="DWS is a premier school in Paonta Sahib, offering an environment focused on academic excellence, skill development, and spiritual growth. Learn more about our curriculum and admissions process.">
    <meta name="twitter:image"
        content="https://scontent.fixc1-8.fna.fbcdn.net/v/t39.30808-6/335423691_113245308318791_8986967528729299943_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=hsmgv4EW8UkQ7kNvgHsXxuK&_nc_zt=23&_nc_ht=scontent.fixc1-8.fna&_nc_gid=AX2kpa_WCN_yfVEUxV29LTm&oh=00_AYDgD1xrnnMdJdcRU9_tehXUS-33s6AvcCLEeIH2gWZE1w&oe=677DB5FF">
    <meta name="twitter:site" content="@DWS_School">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-86721ET6N6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-86721ET6N6');
    </script>


    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "School",
      "name": "Divine Wisdom School",
      "url": "https://www.divinewisdom.edu.in",
      "logo": "https://www.divinewisdom.edu.in/logo.png", 
      "sameAs": [
        "https://www.instagram.com/divinewisdomschool",
        "https://www.facebook.com/dwsmajra/"
      ],
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+91-01704298187",
        "contactType": "Customer Service",
        "areaServed": "IN",
        "availableLanguage": "English"
      },
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Divine Wisdom, Kotri, Majra",
        "addressLocality": "Himachal Pradesh",
        "postalCode": "173021",
        "addressCountry": "IN"
      },
      "department": [
    {
      "@type": "Department",
      "name": "Academics",
      "url": "https://www.divinewisdom.edu.in/academics"
    },
    {
      "@type": "Department",
      "name": "Results",
      "url": "https://www.divinewisdom.edu.in/results"
    },
    {
      "@type": "Department",
      "name": "Contact Us",
      "url": "https://www.divinewisdom.edu.in/contact-us"
    }
    ],
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 32.0108,
        "longitude": 77.2315
      },
      "map": "https://maps.app.goo.gl/Y9WtZ3WkXj2bfWWK6"
    }
    </script>

</head>


<body class="">
    <div class="bg-[#] background">
        <div class=" xl:flex md:block p-5 mx-auto px-8 hidden">
            <div class="text-cyan-400 flex md:w-1/3 mx-auto xl:px-6">
                <a href="/" class="shrink-0 lg:relative mx-auto">
                    <img src="/icons/logo.svg" class="-m-6 -mb-3 w-96" alt="logo" loading="lazy">
                </a>
            </div>
            <div class="lg:flex md:block mx-auto justify-center xl:w-2/3 my-auto xl:-ml-14 xl:mr-0 -mr-4">
                <div class="flex lg:py-0 py-3">
                    <div class="flex mx-auto">
                        <span class="add"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="dHctdy02 dHctaC02 dHctdGV4dC1wdXJwbGUtNzAw">
                                <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                                <path
                                    d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z">
                                </path>
                            </svg>
                        </span>

                        <div class="flex-1 px-4">
                            <div class="font-bold text-center">Address</div>
                            <a href="https://www.google.com/maps?ll=30.500801,77.535866&z=17&t=m&hl=en&gl=IN&mapclient=embed&cid=8426280419308659088"
                                target="_blank" tabindex="-1" class="hover:text-red-600 text-decoration-none">
                                <div class="text-center">Kotri, Majra, Paonta Sahib, H.P.(173021)</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex lg:py-0 py-3">
                    <div class="flex mx-auto">
                        <span class="mail"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="dHctdy02 dHctaC02 dHctdGV4dC1wdXJwbGUtNzAw">
                                <path
                                    d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z">
                                </path>
                                <path d="M3 7l9 6l9 -6"></path>
                            </svg></span>
                        <div class="flex-1 px-4">
                            <div class="font-bold text-center">Email</div>
                            <a href="mailto:info@divinewisdom.edu.in" tabindex="-1"
                                class="hover:text-red-600 text-decoration-none">
                                <div class="text-center">info@divinewisdom.edu.in</div>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="flex lg:py-0 py-3">
                    <div class="flex mx-auto">
                        <span class="phone"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="dHctdy02 dHctaC02 dHctdGV4dC1wdXJwbGUtNzAw">
                                <path
                                    d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2">
                                </path>
                            </svg></span>
                        <div class="flex-1 px-4">
                            <div class="font-bold text-center">Phone</div>
                            <div class="text-center">
                                <a href="tel:9805347187" class="hover:text-red-600 text-decoration-none"
                                    tabindex="-1"><span>9805347187</span></a><span>,</span>&nbsp;<a
                                    href="tel:1704298187" class="hover:text-red-600 text-decoration-none"
                                    tabindex="-1"><span>1704298187</span></a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="flex justify-center ml-3">
                    <button class="theme-switch-btn p-2 relative cursor-pointer" onclick="toggleTheme()">
                        <svg class="dark:hidden" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                            <path class="fill-slate-300"
                                d="M7 0h2v2H7zM12.88 1.637l1.414 1.415-1.415 1.413-1.413-1.414zM14 7h2v2h-2zM12.95 14.433l-1.414-1.413 1.413-1.415 1.415 1.414zM7 14h2v2H7zM2.98 14.364l-1.413-1.415 1.414-1.414 1.414 1.415zM0 7h2v2H0zM3.05 1.706 4.463 3.12 3.05 4.535 1.636 3.12z" />
                            <path class="fill-slate-400" d="M8 4C5.8 4 4 5.8 4 8s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4Z" />
                        </svg>
                        <svg class="hidden dark:block" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                            <path class="fill-slate-400"
                                d="M6.2 1C3.2 1.8 1 4.6 1 7.9 1 11.8 4.2 15 8.1 15c3.3 0 6-2.2 6.9-5.2C9.7 11.2 4.8 6.3 6.2 1Z" />
                            <path class="fill-slate-500"
                                d="M12.5 5a.625.625 0 0 1-.625-.625 1.252 1.252 0 0 0-1.25-1.25.625.625 0 1 1 0-1.25 1.252 1.252 0 0 0 1.25-1.25.625.625 0 1 1 1.25 0c.001.69.56 1.249 1.25 1.25a.625.625 0 1 1 0 1.25c-.69.001-1.249.56-1.25 1.25A.625.625 0 0 1 12.5 5Z" />
                        </svg>
                        <span class="sr-only">Switch to light / dark version</span>
                    </button>
                </div>
 -->
            </div>
        </div>



        <!-- <div class="flex justify-center ml-3 md:hidden mx-auto">
            <button class="theme-switch-btn p-2 relative cursor-pointer" onclick="toggleTheme()">
                <svg class="dark:hidden" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                    <path class="fill-slate-300"
                        d="M7 0h2v2H7zM12.88 1.637l1.414 1.415-1.415 1.413-1.413-1.414zM14 7h2v2h-2zM12.95 14.433l-1.414-1.413 1.413-1.415 1.415 1.414zM7 14h2v2H7zM2.98 14.364l-1.413-1.415 1.414-1.414 1.414 1.415zM0 7h2v2H0zM3.05 1.706 4.463 3.12 3.05 4.535 1.636 3.12z" />
                    <path class="fill-slate-400" d="M8 4C5.8 4 4 5.8 4 8s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4Z" />
                </svg>
                <svg class="hidden dark:block" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                    <path class="fill-slate-400"
                        d="M6.2 1C3.2 1.8 1 4.6 1 7.9 1 11.8 4.2 15 8.1 15c3.3 0 6-2.2 6.9-5.2C9.7 11.2 4.8 6.3 6.2 1Z" />
                    <path class="fill-slate-500"
                        d="M12.5 5a.625.625 0 0 1-.625-.625 1.252 1.252 0 0 0-1.25-1.25.625.625 0 1 1 0-1.25 1.252 1.252 0 0 0 1.25-1.25.625.625 0 1 1 1.25 0c.001.69.56 1.249 1.25 1.25a.625.625 0 1 1 0 1.25c-.69.001-1.249.56-1.25 1.25A.625.625 0 0 1 12.5 5Z" />
                </svg>
                <span class="sr-only">Switch to light / dark version</span>
            </button>
        </div> -->

        <div class="md:hidden flex p-5 mx-auto ">
            <div class="text-cyan-400 flex mx-auto my-auto">
                <a href="/" class="shrink-0 lg:relative w-60 my-auto">
                    <img src="/icons/logo.svg" class="-m-6 -mb-3" alt="logo" loading="lazy">
                </a>
            </div>
            <div class="mx-auto">
                <button class=" mx-auto my-auto z-40 absolute mt-2" data-collapse-toggle="list" type="button"
                    id="mainmenu" aria-controls="list" aria-expanded="false">
                    <input type="checkbox" id="checkbox" class="w-2">
                    <label for="checkbox" class="toggle">
                        <div class="bars" id="bar1"></div>
                        <div class="bars" id="bar2"></div>
                        <div class="bars" id="bar3"></div>
                    </label>
                </button>
                <div class="hidden min-h-screen mx-auto top-0 absolute w-full left-0 bg-slate-950 z-20 py-24" id="list">
                    <div class="mx-auto text-center p-12">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="/" tabindex="-1"
                            class="text-gray-300 block  rounded-md px-3 py-2 text-base text-center font-medium ut-1 w-fit mx-auto">Home
                            <div
                                class="w-full h-2 bg-[#FBDE9B] rounded-full {% if request.path != '/'%} ut-2 {% endif %}">
                            </div>
                        </a>
                        <a href="/about/" tabindex="-1"
                            class="text-gray-300 block rounded-md px-3 py-2 text-base text-center font-medium ut-1 w-fit mx-auto">About
                            <div
                                class="w-full h-2 bg-[#FBDE9B] rounded-full {% if request.path != '/about/'%} ut-2 {% endif %}">
                            </div>
                        </a>

                        <!-- Dropdown 1 -->
                        <li class="z-50 block rounded-md py-2 text-base text-center font-medium w-fit mx-auto">
                            <button id="dropdownButton1" data-collapse-toggle="dropdownContent1" type="button"
                                tabindex="-1" aria-controls="dropdownContent1" aria-expanded="false"
                                class="text-gray-300 ut-1">
                                <div class="flex mx-auto px-3" tabindex="-1">Facilities
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="mt-0.5">
                                        <path d="M6 9l6 6l6 -6"></path>
                                    </svg>
                                </div>
                            </button>
                            <div id="dropdownContent1"
                                class="hidden mx-auto top-0 w-full left-0 z-20 bg-[#e6e2f4] rounded-xl mt-2 ">
                                <ul class="py-2 text-sm text-gray-700 text-center">
                                    <li>
                                        <a href="/Infrastructure/" tabindex="-1"
                                            class="block px-4 py-2 hover:bg-violet-100 rounded-xl ">
                                            <div class="text-center text-xl py-2 text-violet-800"> Infrastructure</div>
                                        </a>
                                    </li>
                                    <span
                                        class="block border-t-2 border-purple-300 w-[98%] mx-auto rounded-full"></span>
                                    <li>
                                        <a href="/Club/" tabindex="-1"
                                            class="block px-4 py-2 hover:bg-violet-100 rounded-xl ">
                                            <div class="text-center text-xl py-2 text-violet-800">Club</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="z-50 block rounded-md py-2 text-base text-center font-medium w-fit mx-auto">
                            <button id="dropdownButton3" data-collapse-toggle="dropdownContent3" type="button"
                                tabindex="-1" aria-controls="dropdownContent3" aria-expanded="false"
                                class="text-gray-300 ut-1">
                                <div class="flex mx-auto px-3">Academics
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="mt-0.5">
                                        <path d="M6 9l6 6l6 -6"></path>
                                    </svg>
                                </div>
                            </button>
                            <div id="dropdownContent3"
                                class="hidden mx-auto top-0 w-full left-0 z-20 bg-[#e6e2f4] rounded-xl mt-2 ">
                                <ul class="py-2 text-sm text-gray-700 text-center">
                                    <li>
                                        <a href="/Cbse/" tabindex="-1"
                                            class="block px-4 py-2 hover:bg-violet-100 rounded-xl ">
                                            <div class="text-center text-xl py-2 text-violet-800"> CBSE</div>
                                        </a>
                                    </li>
                                    <span
                                        class="block border-t-2 border-purple-300 w-[98%] mx-auto rounded-full"></span>
                                    <li>
                                        <a href="/Tc/" tabindex="-1"
                                            class="block px-4 py-2 hover:bg-violet-100 rounded-xl ">
                                            <div class="text-center text-xl py-2 text-violet-800">Tc</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Dropdown 2 -->
                        <!-- <li class="z-50 block rounded-md py-2 text-base text-center font-medium w-fit mx-auto">
                            <button id="dropdownButton2" data-collapse-toggle="dropdownContent2" type="button"
                                tabindex="-1" aria-controls="dropdownContent2" aria-expanded="false"
                                class="text-gray-300 ut-1">
                                <div class="flex mx-auto px-3">Programs
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="mt-0.5">
                                        <path d="M6 9l6 6l6 -6"></path>
                                    </svg>
                                </div>
                            </button>
                            <div id="dropdownContent2"
                                class="hidden mx-auto top-0 w-full left-0 z-20 bg-[#e6e2f4] rounded-xl mt-2 ">
                                <ul class="py-2 text-sm text-gray-700 text-center">
                                    <h6 class="text-xl font-bold text-red-500 mx-2">8 POINT EDUCATIONAL PROGRAM</h6>
                                    <li>
                                        <a href="/PersonalGrowthandDevelopment/" tabindex="-1"
                                            class="block px-4 py-2 hover:bg-violet-100 rounded-xl ">
                                            <div class="text-left text-xl py-2 text-violet-800"> Personal Growth and
                                                Development</div>
                                        </a>
                                    </li>
                                    <span
                                        class="block border-t-2 border-purple-300 w-[98%] mx-auto rounded-full"></span>
                                    <li>
                                        <a href="/EffectiveInterpersonalSkills/" tabindex="-1"
                                            class="block px-4 py-2 hover:bg-violet-100 rounded-xl ">
                                            <div class="text-left text-xl py-2 text-violet-800">Effective Interpersonal
                                                Skills</div>
                                        </a>
                                    </li>
                                    <span
                                        class="block border-t-2 border-purple-300 w-[98%] mx-auto rounded-full"></span>
                                    <li>
                                        <a href="/EffectiveCommunicationSkills/" tabindex="-1"
                                            class="block px-4 py-2 hover:bg-violet-100 rounded-xl ">
                                            <div class="text-left text-xl py-2 text-violet-800">Effective Communication
                                                Skills</div>
                                        </a>
                                    </li>
                                    <span
                                        class="block border-t-2 border-purple-300 w-[98%] mx-auto rounded-full"></span>
                                    <li>
                                        <a href="/DeepenedSpiritualValues/" tabindex="-1"
                                            class="block px-4 py-2 hover:bg-violet-100 rounded-xl ">
                                            <div class="text-left text-xl py-2 text-violet-800"> Deepened Spiritual
                                                Values</div>
                                        </a>
                                    </li>
                                    <span
                                        class="block border-t-2 border-purple-300 w-[98%] mx-auto rounded-full"></span>
                                    <li>
                                        <a href="/IntellectualGrowth/" tabindex="-1"
                                            class="block px-4 py-2 hover:bg-violet-100 rounded-xl ">
                                            <div class="text-left text-xl py-2 text-violet-800"> Intellectual Growth
                                            </div>
                                        </a>
                                    </li>
                                    <span
                                        class="block border-t-2 border-purple-300 w-[98%] mx-auto rounded-full"></span>
                                    <li>
                                        <a href="/RespondAesthetically/" tabindex="-1"
                                            class="block px-4 py-2 hover:bg-violet-100 rounded-xl ">
                                            <div class="text-left text-xl py-2 text-violet-800"> Respond Aesthetically
                                            </div>
                                        </a>
                                    </li>
                                    <span
                                        class="block border-t-2 border-purple-300 w-[98%] mx-auto rounded-full"></span>
                                    <li>
                                        <a href="/PrepareforOccupation/" tabindex="-1"
                                            class="block px-4 py-2 hover:bg-violet-100 rounded-xl ">
                                            <div class="text-left text-xl py-2 text-violet-800"> Prepare for Occupation
                                            </div>
                                        </a>
                                    </li>
                                    <span
                                        class="block border-t-2 border-purple-300 w-[98%] mx-auto rounded-full"></span>
                                    <li>
                                        <a href="/SocialResponsibility/" tabindex="-1"
                                            class="block px-4 py-2 hover:bg-violet-100 rounded-xl ">
                                            <div class="text-left text-xl py-2 text-violet-800"> Social Responsibility
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li> -->

                        <a href="/gallery/" tabindex="-1"
                            class="text-gray-300 block rounded-md px-3 py-2 text-base text-center font-medium ut-1 w-fit mx-auto">Gallery
                            <div
                                class="w-full h-2 bg-[#FBDE9B] rounded-full {% if request.path != '/gallery/'%} ut-2 {% endif %}">
                            </div>
                        </a>
                        <a href="/parent/" tabindex="-1"
                            class="text-gray-300 block rounded-md px-3 py-2 text-base text-center font-medium ut-1 w-fit mx-auto">Parent
                            <div
                                class="w-full h-2 bg-[#FBDE9B] rounded-full {% if request.path != '/parent/'%} ut-2 {% endif %}">
                            </div>
                        </a>
                        <a href="/contact/" tabindex="-1"
                            class="text-gray-300 block rounded-md px-3 py-2 text-base text-center font-medium ut-1 w-fit mx-auto">Contact
                            <div
                                class="w-full h-2 bg-[#FBDE9B] rounded-full {% if request.path != '/contact/'%} ut-2 {% endif %}">
                            </div>
                        </a>
                        <a href="/admissions/" tabindex="-1">
                            <div
                                class=" mx-auto p-4 w-fit text-center bg-[#F6C663] rounded-full text-lg font-medium my-auto hover:bg-[#F9BC3E]">
                                Admissions
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <hr class="w-[90%] mx-auto">



        <nav class="py-4 lg:px-16 md:px-4 md:flex hidden w-full justify-center">
            <!-- <div class="xl:w-10/12 md:w-12/12 flex "> -->
            <!-- {{request.path}} -->
            <div class=" flex w-full ">
                <ul class="flex lg:w-10/12 w-full my-auto">
                    <li class="p-2 text-xl font-medium block ut-1">
                        <a href="/" tabindex="-1" class="text-decoration-none"><span class="home">Home</span></a>
                        <div class="w-full h-2 bg-[#FBDE9B] rounded-full {% if request.path != '/'%} ut-2 {% endif %}">
                        </div>
                        <!-- <div class="w-36 h-1 border-b-4 border-yellow-300 mt-4 rounded-3xl md:mt-4 "></div> -->
                    </li>
                    <li class="p-2 text-xl font-medium block ut-1">
                        <a href="/about/" tabindex="-1" class="text-decoration-none"><span class="home">About</span></a>
                        <div
                            class="w-full h-2 bg-[#FBDE9B] rounded-full {% if request.path != '/about/'%} ut-2 {% endif %}">
                        </div>
                    </li>
                    <li class="p-2 text-xl font-medium block ut-1">
                        <button id="dropdownDefaultButton1" data-dropdown-toggle="dropdown1" class="flex" type="button"
                            tabindex="-1">
                            <div class="flex"><span class="home">Facilities</span>
                                <svg id="arrow1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="mt-0.5">
                                    <path d="M6 9l6 6l6 -6"></path>
                                </svg>
                            </div>
                        </button>
                        <div class="w-full h-2 bg-[#FBDE9B] rounded-full {% if request.path != '//'%} ut-2 {% endif %}">
                        </div>
                        <!-- Dropdown menu -->
                        <div id="dropdown1"
                            class="z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-72 px-4 py-2">
                            <ul class="py-2 text-sm text-gray-700 text-center overflow-y-auto max-h-max"
                                aria-labelledby="dropdownDefaultButton1">
                                <li>
                                    <a href="/Infrastructure/" tabindex="-1"
                                        class="block px-4 py-1 hover:bg-violet-100 rounded-xl ">
                                        <div class="text-center text-xl text-violet-800"> Infrastructure</div>
                                    </a>
                                </li>
                                <hr class="w-[90%] mx-auto my-2">
                                <li>
                                    <a href="/Club/" tabindex="-1"
                                        class="block px-4 py-1 hover:bg-violet-100 rounded-xl ">
                                        <div class="text-center text-xl text-violet-800 "> Club</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="p-2 text-xl font-medium block ut-1">
                        <button id="dropdownDefaultButton2" data-dropdown-toggle="dropdown2" class="flex" type="button"
                            tabindex="-1">
                            <div class="flex"><span class="home">Academics</span>
                                <svg id="arrow3" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="mt-0.5">
                                    <path d="M6 9l6 6l6 -6"></path>
                                </svg>
                            </div>
                        </button>
                        <div class="w-full h-2 bg-[#FBDE9B] rounded-full {% if request.path != '//'%} ut-2 {% endif %}">
                        </div>
                        <!-- Dropdown menu -->
                        <div id="dropdown2"
                            class="z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-72 px-4 py-2">
                            <ul class="py-2 text-sm text-gray-700 text-center overflow-y-auto max-h-max"
                                aria-labelledby="dropdownDefaultButton1">
                                <li>
                                    <a href="/Cbse/" tabindex="-1"
                                        class="block px-4 py-1 hover:bg-violet-100 rounded-xl ">
                                        <div class="text-center text-xl text-violet-800"> CBSE</div>
                                    </a>
                                </li>
                                <hr class="w-[90%] mx-auto my-2">
                                <li>
                                    <a href="/Tc/" tabindex="-1"
                                        class="block px-4 py-1 hover:bg-violet-100 rounded-xl ">
                                        <div class="text-center text-xl text-violet-800 "> Tc</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- <li class="p-2 text-xl font-medium block ut-1 z-50">
                        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="flex" type="button"
                            tabindex="-1">
                            <div class="flex"><span class="home">Programs</span>
                                <svg id="arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="mt-0.5">
                                    <path d="M6 9l6 6l6 -6"></path>
                                </svg>
                            </div>
                        </button>
                        <div class="w-full h-2 bg-[#FBDE9B] rounded-full {% if request.path != '//'%} ut-2 {% endif %}">
                        </div>

                        <div id="dropdown"
                            class="z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-72 px-4 py-2">
                            <ul class="py-2 text-sm text-gray-700 text-center overflow-y-auto max-h-max"
                                aria-labelledby="dropdownDefaultButton">
                                <h6 class="text-xl font-bold text-red-500 py-2">8 POINT EDUCATIONAL PROGRAM</h6>
                                <hr class="w-[90%] mx-auto my-2">
                                <li>
                                    <a href="/PersonalGrowthandDevelopment/" tabindex="-1"
                                        class="block px-4 py-1 hover:bg-violet-100 rounded-xl ">
                                        <div class="text-left text-xl text-violet-800"> Personal Growth and
                                            Development</div>
                                    </a>
                                </li>
                                <hr class="w-[90%] mx-auto my-2">
                                <li>
                                    <a href="/EffectiveInterpersonalSkills/" tabindex="-1"
                                        class="block px-4 py-1 hover:bg-violet-100 rounded-xl ">
                                        <div class="text-left text-xl text-violet-800 "> Effective Interpersonal
                                            Skills</div>
                                    </a>
                                </li>
                                <hr class="w-[90%] mx-auto my-2">
                                <li>
                                    <a href="/EffectiveCommunicationSkills/" tabindex="-1"
                                        class="block px-4 py-1 hover:bg-violet-100 rounded-xl ">
                                        <div class="text-left text-xl text-violet-800 "> Effective Communication
                                            Skills</div>
                                    </a>
                                </li>
                                <hr class="w-[90%] mx-auto my-2">
                                <li>
                                    <a href="/DeepenedSpiritualValues/" tabindex="-1"
                                        class="block px-4 py-1 hover:bg-violet-100 rounded-xl ">
                                        <div class="text-left text-xl text-violet-800">Deepened Spiritual Values
                                        </div>
                                    </a>
                                </li>
                                <hr class="w-[90%] mx-auto my-2">
                                <li>
                                    <a href="/IntellectualGrowth/" tabindex="-1"
                                        class="block px-4 py-1 hover:bg-violet-100 rounded-xl ">
                                        <div class="text-left text-xl text-violet-800">Intellectual Growth</div>
                                    </a>
                                </li>
                                <hr class="w-[90%] mx-auto my-2">
                                <li>
                                    <a href="/RespondAesthetically/" tabindex="-1"
                                        class="block px-4 py-1 hover:bg-violet-100 rounded-xl ">
                                        <div class="text-left text-xl text-violet-800">Respond Aesthetically</div>
                                    </a>
                                </li>
                                <hr class="w-[90%] mx-auto my-2">
                                <li>
                                    <a href="/PrepareforOccupation/" tabindex="-1"
                                        class="block px-4 py-1 hover:bg-violet-100 rounded-xl ">
                                        <div class="text-left text-xl text-violet-800">Prepare for Occupation</div>
                                    </a>
                                </li>
                                <hr class="w-[90%] mx-auto my-2">
                                <li>
                                    <a href="/SocialResponsibility/" tabindex="-1"
                                        class="block px-4 py-1 hover:bg-violet-100 rounded-xl ">
                                        <div class="text-left text-xl text-violet-800">Social Responsibility</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li> -->


                    <li class="p-2 text-xl font-medium block ut-1">
                        <a href="/gallery/" tabindex="-1" class="text-decoration-none"><span
                                class="home">Gallery</span></a>
                        <div
                            class="w-full h-2 bg-[#FBDE9B] rounded-full {% if request.path != '/gallery/'%} ut-2 {% endif %}">
                        </div>
                    </li>
                    <li class="p-2 text-xl font-medium block ut-1">
                        <a href="/parent/" tabindex="-1" class="text-decoration-none"><span
                                class="home">Parents</span></a>
                        <div
                            class="w-full h-2 bg-[#FBDE9B] rounded-full {% if request.path != '/parent/'%} ut-2 {% endif %}">
                        </div>
                    </li>
                    <li class="p-2 text-xl font-medium block ut-1">
                        <a href="/contact/" tabindex="-1" class="text-decoration-none"><span
                                class="home">Contact</span></a>
                        <div
                            class="w-full h-2 bg-[#FBDE9B] rounded-full {% if request.path != '/contact/'%} ut-2 {% endif %}">
                        </div>
                    </li>
                </ul>
                <!-- <a href="http://registration.divinewisdom.edu.in/"> -->
                <a href="/admissions/" tabindex="-1">
                    <div
                        class=" mx-auto lg:p-8 md:p-4 lg:py-4 md:py-2 w-fit text-center bg-[#F6C663] rounded-full text-lg font-medium my-auto hover:bg-[#F9BC3E]">
                        Admissions
                    </div>
                </a>
            </div>
            <!-- <div class=" p-4 px-8 bg-[#F6C663] rounded-full text-lg font-medium text-center my-auto hover:bg-[#F9BC3E]">
                Enroll Today
            </div> -->

        </nav>


    </div>