<%- include("header.ejs") %>

    <div class="w-full h-full flex flex-col md:flex-col px-4 md:px-20 py-10">
        <!-- Left Section -->
        <div class="w-full md:w-1/2 mx-auto flex items-center justify-center mb-8 md:mb-0">
            <div class="w-full md:px-32 text-center md:text-left">
                <h3 class="text-3xl md:text-4xl text-center">Welcome to <br><span
                        class="text-blue-600 font-semibold">DIVINE WISDOM</span></h3>
            </div>
        </div>

        <!-- Right Section -->
        <div class="w-full md:w-1/2 mx-auto flex items-center justify-center">
            <div class="w-full md:px-32">
                <h4 class="text-xl md:text-2xl capitalize mb-5 text-center">Login to your account</h4>
                <% if (errorMessage) { %>
                    <div class="text-red-500 mb-4">
                        <strong>
                            <%= errorMessage %>
                        </strong>
                    </div>
                    <% } %>
                                <form autocomplete="off" action="/users/login" method="post">
                                    <input
                                        class="block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                        type="email" placeholder="Email" name="email" required>
                                    <input
                                        class="block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                        type="password" placeholder="Password" name="password" required>
                                    <input
                                        class="px-5 block rounded-full py-3 mt-2 bg-blue-500 text-white w-full md:w-full"
                                        type="submit" value="Login">
                                </form>
            </div>
        </div>
    </div>

    <%- include("Footer.ejs") %>