<%- include("header.ejs") %>
<div class="w-full h-fit flex flex-col md:flex-row px-5 md:px-20 py-10">
    <!-- Left side (Welcome Message) -->
    <div class="w-full md:w-1/2 flex items-center justify-center h-auto">
        <div class="w-full px-5 md:px-32 text-center">
            <h3 class="text-3xl md:text-4xl font-semibold mb-4">Welcome to <br><span class="text-blue-600">DIVINE WISDOM</span></h3>
        </div>
    </div>

    <!-- Right side (Login Form) -->
    <div class="w-full md:w-1/2 flex items-center justify-center h-auto mt-8 md:mt-0">
        <div class="w-full px-5 md:px-32">
            <h4 class="text-xl md:text-2xl font-medium capitalize mb-5">Login to your account</h4>

            <% if (errorMessage) { %>
                <div class="text-red-500 mb-4">
                    <strong><%= errorMessage %></strong>
                </div>
            <% } %>

            <form autocomplete="off" action="/users/login" method="post">
                <input
                    class="block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    type="email" placeholder="Email" name="email" required>
                <input
                    class="block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    type="password" placeholder="Password" name="password" required>
                <input class="px-5 block rounded-full py-3 mt-2 bg-blue-500 text-white cursor-pointer hover:bg-blue-600 focus:ring-2 focus:ring-blue-400" type="submit" value="Login">
            </form>
        </div>
    </div>
</div>
<%- include("Footer.ejs") %>
