<div class="flex md:p-20">
    <div class="mx-auto my-auto md:flex hidden md:w-1/12">
        <img src="/icons/questionmark.svg" class="md:w-fit mx-auto" alt="">
    </div>
    <div class="md:w-10/12 w-full mx-auto my-auto">
        <div class="pt-4"><img src="/icons/logo.png" class="mx-auto my-auto md:w-2/12 sm:w-6/12 w-4/12 mb-0" alt="">
        </div>
        <div class="p-4 pt-0">
            <h6 class="md:text-4xl sm:text-3xl text-2xl text-center font-bold md:w-2/4 mx-auto relative"><span
                    style="white-space: nowrap;">Give your kid a</span><br><span
                    style="white-space: nowrap;">brighter future</span>
            </h6>
            <img src="/icons/line2.svg"
                class="mx-auto md:w-3/4 lg:w-2/6 xl:w-2/6 2xl:w-1/6 sm:w-4/12 w-2/4 sm:-mt-2 -mt-2 md:px-8 px-8" alt="">
        </div>
        <div
            class="bg-yellow-500 hover:bg-[#F9BC3E] lg:w-3/12 md:w-4/12 w-4/6 flex rounded-full text-center text-xl px-4 py-3 md:py-2 md:my-0 my-4 animation-arrow mx-auto">
            <div class="mx-auto flex">
                <a href="/admissions/" tabindex="-1">
                    <div class="md:w-11/12 sm:w-full md:mr-4 text-center ">Enroll Today</div>
                </a>
                <div class="my-auto md:mx-0 mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class=" my-auto" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M5 12l14 0"></path>
                        <path d="M15 16l4 -4"></path>
                        <path d="M15 8l4 4"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto my-auto md:flex hidden w-1/12">
        <img src="/icons/bulb.svg" class="w-fit mx-auto" alt="">
    </div>
</div>