<%- include("../header.ejs") %>

<head>
    <style>
        .background {
            background-color: #f3f0fc;
        }
    </style>
</head>

<body>
    <div class="bg-[#f3f0fc] rounded-b-[100%]">
        <h1 class="text-6xl text-center font-semibold p-8 text-green-800">Deepened Spiritual Values
        </h1>
        <div class="p-16 pt-8">
            <p class="text-justify mb-4 -ml-3">
                Spiritual and Moral Values. ….When this happens a moral context is given to what one does with the
                knowledge one has gained. With this direction, life decisions are properly grounded. The purpose of
                spiritual education is to fulfill the divine potential of children, and to prepare them for life by
                giving them the tools they need to keep on learning throughout the many experiences that will come to
                them. ... Another purpose of spiritual education is to build the person on all levels. It is important
                for everyone to explore what they believe is their own sense of meaning and purpose. The path to
                spiritual wellness may involve meditation, prayer, affirmations, or specific spiritual practices that
                support your connection to a higher power or belief system.
            </p>
        </div>
    </div>
</body>



<%- include("../Footer.ejs") %>