<%- include("../header.ejs") %>

<head>
    <style>
        .background {
            background-color: #f3f0fc;
        }
    </style>
</head>

<body>
    <div class="bg-[#f3f0fc] rounded-b-[100%]">
        <h1 class="text-6xl text-center font-semibold p-8 text-green-800">Effective Communication Skills</h1>
        <div class="p-16 pt-8">
            <p class="text-justify mb-4 -ml-3">Effective communication is defined as verbal speech or other methods of
                relaying information that get a point across. ... An example of effective communication is when the
                person who you are talking to listens actively, absorbs your point and understands it. The ability to
                communicate effectively is an essential skill in today's world. Communication is a dynamic process and
                how you communicate can positively and negatively affect the relationships you have in your work and
                life.
                Good communicators have a wide repertoire of skills and are able to adjust their communication style in
                response to the many variables they face at a given time. Here are a few principles to consider as you
                adjust and refine your communication skills.
            <ul class="list-disc">
                <li>Understand yourself.</li>
                <li>Understand your audience</li>
                <li>Listen actively.</li>
                <li>Find a perfect time.</li>
                <li>Simplify.</li>
            </ul>
            </p>
        </div>
    </div>
</body>



<%- include("../Footer.ejs") %>