<%- include("../header.ejs") %>

<head>
    <style>
        .background {
            background-color: #f3f0fc;
        }
    </style>
</head>

<body>
    <div class="bg-[#f3f0fc] rounded-b-[100%]">
        <h1 class="text-6xl text-center font-semibold p-8 text-green-800">Personal Growth and
            Development</h1>
        <div class="p-16 pt-8">
            <p class="text-justify mb-4 -ml-3">Child Growth and Development examines the physical, cognitive, social,
                and emotional growth of
                young children
                from prenatal development through middle childhood. The Personal Growth and Development (PGD) consists
                of
                scheduled time and curricular work designed with multiple goals in mind:
            <ul class="list-disc">
                <li>Narture the personal growth and social competency skills of each child .</li>
                <li>Encourage the development of solid decision-making skills, an appreciation of civility and a sound
                    ethical
                    grounding,</li>
                <li>To offer opportunities for the explicit consideration of social and moral issues in order to help
                    each
                    student
                    gain an understanding of self, of others, of the relationships between and among them,</li>
                <li>And to promote self-respect, self-confidence, respect for others, and empathy.</li>
            </ul>
            </p>
        </div>
    </div>
</body>


<%- include("../Footer.ejs") %>