<%- include("../header.ejs") %>


<head>
    <style>
        .background {
            background-color: #f3f0fc;
        }
    </style>
</head>

<body>
    <div class="bg-[#f3f0fc] rounded-b-[100%]">
        <h1 class="text-6xl text-center font-semibold p-8 text-green-800">Prepare for Occupation
        </h1>
        <div class="p-16 pt-8">
            <p class="text-justify mb-4 -ml-3">
                Occupational education refers to a total program of education oriented to the world of work.
                Occupational education should begin to take form in the elementary school with a basic introduction to
                the world of work in terms appropriate to the maturity level of the students. Many of today's curriculum
                are based on a one size fit all however, everyone learns differently and curriculum's should be adapted
                to serve all individuals. This is especially true in the special needs programs. Occupational education
                provides students with a pathway— using your specialized skills—to design, deliver and practice
                instructional programs in a variety of professional and technical vocations including online education,
                workforce development, continuing education, higher education and military education. As they work they
                will learn how to, apply the knowledge related to other occupations to practical classroom situations
                and articulate a personal education teaching philosophy. They will also be able to discuss the different
                ways to learn information and skills, and learn ways to assess other students' needs, interests,
                motivations and capabilities.
            </p>
        </div>
    </div>
</body>


<%- include("../Footer.ejs") %>