<%- include("../header.ejs") %>

<head>
    <style>
        .background {
            background-color: #f3f0fc;
        }
    </style>
</head>

<body>
    <div class="bg-[#f3f0fc] rounded-b-[100%]">
        <h1 class="text-6xl text-center font-semibold p-8 text-green-800">Respond Aesthetically
        </h1>
        <div class="p-16 pt-8">
            <p class="text-justify mb-4 -ml-3">
                An aesthetic response serves this function in mediating interpretation and perception when triggered by
                the aforementioned structures in our environments that induce the making of sense. Art, then, can be
                defined as a tangible, deliberate human action aimed at triggering this response. Aesthetics, or
                esthetics is a branch of philosophy that deals with the nature of art, beauty and taste and with the
                creation or appreciation of beauty. Aesthetics studies how artists imagine, create and perform works of
                art; how people use, enjoy, and criticize art; and what happens in their minds when they look at
                paintings, listen to music, or read poetry, and understand what they see and hear. It also studies how
                they feel about art — why they like some works and not others, and how art can affect their moods,
                beliefs, and attitude toward life.
            </p>
        </div>
    </div>
</body>



<%- include("../Footer.ejs") %>